[user]
	name = Bonnie Simon
	email = bonnie.developer@gmail.com
[init]
	defaultBranch = main

# git-delta configurations
[include]
  path = ~/.config/delta/themes.gitconfig

[core]
  pager = delta
  editor = nvim

[interactive]
  # Unsure why we need --feature=interactive
  diffFilter = delta --color-only --features=interactive

[delta]
  navigate = true
  # features from ~/.config/delta/themes.gitconfig
  features = calochortus-lyallii
  true-color = always

[delta "interactive"]
  # I'm unsure why I have this
  keep-plus-minus-markers = false

[column]
	ui = auto

[branch]
	sort = -committerdate

[merge]
  conflictstyle = zdiff3
